---
layout: default
---
<link rel="stylesheet" href="/assets/css/posts-page.css" type="text/css">

<style type="text/css">
  content > div {
    text-align: center;
    margin: 50px 0;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
    box-shadow: 3px 3px 5px #BFBFBF;
    
    transition: transform .3s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .card p {
    color: #262626;
    font-weight: bold;
  }
  
  .card > div {
    position: absolute;
  }
  
  .card .back {
    transform: rotate3d(1, 0, 0, 180deg);
  }
  
  .card:hover { transform: rotate3d(1, 0, 0, 180deg); }
  
  #profile {
    width: 380px;
    height: 200px;
  }
  
  #profile .avatar {
    border-radius: 50%;
  }
  
  #profile .background {
    width: 320px;
    height: 130px;
    background: linear-gradient(45deg, #ffffff, #f5f5f5);
  }
  
  #profile .info {
    text-align: center;
    margin: 0 20px;
    transform: translatez(90deg);
  }
  
  #profile .name {
    font-size: 20px;
    padding: 10px 0;
  }
</style>

<content>
  <div>
    <img src="https://cdn.pixabay.com/photo/2016/03/31/20/58/comic-1296118_960_720.png" width="250px">
    <p>진지하게 개발이 재미있다고 생각합니다.</p>
    <p></p>
  </div>
  
  <div id="profile" class="card">
    <div class="info back">
      <p class="name">YeJun, Jung</p>
      <p class="email">yejunjung98@gmail.com</p>
      <p class="email">yejun614@naver.com</p>
    </div>
    
    <div class="background"></div>
    
    <div class="front">
      <img class="avatar" src="/assets/images/avatar.png" width="120px">
    </div>
  </div>
</content>
