---
layout:   default
---

<link rel="stylesheet" href="/assets/css/article-style.css" type="text/css">
<style type="text/css">
  main {
    margin: 50px 0;
  }
  
  content {
    text-align: center;
  }
  
  img {
    display: block;
    margin: 0 auto;
  }
  
  p {
    margin: 10px 0;
  }
</style>

<content>
  <img src="https://cdn.pixabay.com/photo/2019/06/22/14/06/mountain-4291627_960_720.png" width="300px">
  <p>
    천천히 둘러보세요! 정신없고 멋진 공간입니다.
  </p>
  
  <p>
    <a href="/posts">최근 포스트 둘러보기</a>
  </p>
  
</content>
