---
layout:   default
---
<link rel="stylesheet" href="/assets/css/posts-page.css" type="text/css">

<content>
  <h2>Recently posts</h2>
  
{% for post in site.posts limit:20 %}
  <a href="{{ post.url }}">
    <div class="item">
      <div class="categories">
      {% for category in post.categories limit:10 %}
        <li>{{ category }}</li>
      {% endfor %}
      </div>
      
      <span class="title">{{ post.title }}</span>
      
      <div class="tags">
      {% for tag in post.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
      </div>
    </div>
  </a>
  
{% endfor %}
</content>
