
h1 {
  text-align: center;
  margin: 15px 0;
  padding: 15px 0;
}

h2 {
  display: inline;
  box-shadow: inset 0 -10px 0 #4B75F233;
}

h2:hover {
  box-shadow: inset 0 -10px 0 #4B75F255;
}

hr {
  border: 3px dashed #4B75F2;
}

p {
  font-size: 16px;
  line-height: 30px;
  margin: 30px;
}

p a {
  color: #4B75F2;
  font-weight: 600;
  border-bottom: 2px solid #4B75F2;
}

p img {
  display: block;
  margin: 0 auto;
  
  transition: box-shadow .1s ease-in-out;
}

p img:hover {
  box-shadow: 3px 3px 5px #BFBFBF;
}

p img.nohover:hover {
  box-shadow: none;
}

blockquote {
  position: relative;
  padding-left: 20px;
}

blockquote::before {
  content: '"';
  color: #4B75F2;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  left: 5px;
}

blockquote p {
  font-size: 14px;
  background-color: #6A8FD922;
  padding: 10px;
}

code.language-plaintext.highlighter-rouge {
  color: #383838;
  border-bottom: 1px solid #BFBFBF55;
}

figure.highlight, div.highlighter-rouge {
  margin: 20px 0;
}

pre code {
  font-size: 15px;
  font-family: D2Coding, monospace;
  padding: 30px 40px !important;
  position: relative;
}

pre code::after {
  content: 'SOURCE CODE';
  position: absolute;
  top: 10px;
  right: 10px;
  
  padding: 3px 5px;
  background-color: #BFBFBF22;
  border-radius: 50px;
}
