/* Color Theme Swatches in Hex */
.Multify-and-Prevify-1-hex { color: #4B75F2; }
.Multify-and-Prevify-2-hex { color: #5F7ED9; }
.Multify-and-Prevify-3-hex { color: #6A8FD9; }
.Multify-and-Prevify-4-hex { color: #BFBFBF; }
.Multify-and-Prevify-5-hex { color: #262626; }

/* Fonts (from Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Fonts (D2 Coding) */
@font-face{
  font-family:D2Coding;
  src:url(/assets/fonts/D2Coding/D2Coding-Ver1.3.2-20180524.ttf);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: black;
  text-decoration: blink;
}

a:active {
  text-decoration: blink;
}

/* Index Style */
html, body {
  width: 800px;
  margin: 0 auto;
  
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  
  display: flex;
  flex-direction: column;
  
  transition: all .2s ease-in-out;
}

html {
  background: url('/assets/images/patterns/geometric-leaves.png');
}

body {
  background-color: white;
  box-shadow: 0 0 5px #BFBFBF;
}

header {
  height: 200px;
  background-color: #4B75F2;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-position: center;
}

header img {
  position: absolute;
}

#title {
  color: white;
  
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  
  padding: 5px;
}

#subtitle {
  color: #F0F0F0;
  font-size: 12px;
  
  letter-spacing: 3px;
  word-spacing: 5px;
  
  padding: 3px;
  margin: 10px;
}

#global-nav {
  height: 70px;
  background-color: #4B75F233;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#global-nav li {
  float: left;
  padding: 0 10px;
  
  list-style: none;
}

#global-nav li a {
  color: #26262688;  
  font-size: 16pxcontent {
  margin: 30px 0;
};
}

#global-nav li a:hover {
  color: #262626;
  transition: color .3s ease-in-out;
}

footer {
  height: 120px;
  background-color: #262626;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: #BFBFBF;
  font-size: 12px;
  font-family: "D2Coding", monospace;
}

/* Tablet */
@media (max-width: 1000px) {
  html, body {
    width: 100%;
  }
}

