
main {
  margin: 50px 0;
}

content {
  width: 90%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content h2 {
  margin-bottom: 20px;
}

content > a {
  width: 100%;
  border-bottom: 1px solid #6A8FD9;
}

content > a:last-of-type {
  border-bottom: none;
}

content .item {
  height: 150px;
  padding: 0 30px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  transition: all .3s ease-in;
}

content .item .categories li {
  color: #262626;
  font-weight: bold;
  
  float: left;
  list-style: none;
  padding-right: 5px;
}

content .item .categories li::before {
  content: '/';
  padding-right: 5px;
}

content .item .title {
  color: #262626;
  font-size: 20px;
}

content .item .tags {
  margin-top: 20px;
}

content .item .tags li {
  font-size: 12px;
  
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  
  background-color: #4B75F2;
  border-radius: 3px;
  
  float: left;
  list-style: none;
}

content .item .tags li::before {
  content: '#';
}

content .item:hover {
  color: white;
  background-color: #6A8FD9;
}

content .item:hover .categories li { color: white; }
content .item:hover span { color: white; }
content .item:hover .tags li {
  color: #4B75F2;
  background-color: white;
}
