#title, #subtitle {
  background-color: #4B75F2AA;
}

header .btn {
  color: white;
  background-color: #262626;
  border-radius: 5px;
  padding: 6px 15px;
  text-transform: uppercase;
  cursor: pointer;
  
  transition: background-color, color .3s ease-in-out;
}

header .btn:hover {
  color: #262626;
  background-color: #BFBFBF;
}

header .btn.back {
  position: absolute;
  top: 10px;
  left: 10px;
}

main {
  margin: 20px;
}
