<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>{{ site.title }}</title>
    
    <link rel="stylesheet" href="/assets/css/layout-style.css" type="text/css">
  </head>
  
  <body>
    <header>
      <a href="/"><span id="title">{{ site.title }}</span></a>
      <span id="subtitle">{{ site.subtitle }}</span>
    </header>
    
    <nav id="global-nav">
      <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/serach">Search</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
    </nav>
    
    <main>
      {{ content }}
    </main>
    
    <footer>
      <span>
        Copyright YeJun, Jung (2021) All rights reserved.
      </span>
    </footer>
  </body>
</html>
