---
layout: post
---


<ul>
  {% for post in site.posts %}
    <li class="item">
      <span class="categories">{{ post.categories }}</span>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
