<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/assets/css/layout-style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/post.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/article-style.css" type="text/css">
    
    <!-- Highlight.js (https://highlightjs.org/) -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  
  <body>
    <header style="background-image: url({{ page.thumbnail }})">
      
      <a href="{{ page.url }}"><span id="title">{{ page.title }}</span></a>
      <span id="subtitle">{{ page.date }}</span>
      
      <a class="btn back" onclick="history.back()">Back</a>
    </header>
    
    <main>
      {{ content }}
    </main>
    
    <footer>
      <span>
        Copyright YeJun, Jung (2021) All rights reserved.
      </span>
    </footer>
  </body>
</html>
